.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: linear-gradient(to right, #c71585, #800080);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
    
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  
    &::-webkit-scrollbar { 
      display: none; /* For WebKit browsers */
    }
  }
  
  .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 90%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
  .menu-button:hover {
    opacity: 0.8;
  }
  
  .title {
    font-size: 1rem;
    font-weight: bold;
  }
