.diagonal-section {
    position: relative;
    background-color: purple; /* Black background */
    height: 200px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  
    &::-webkit-scrollbar { 
      display: none; /* For WebKit browsers */
    }
  }
  
  .cropped-image {
    position: absolute;
    transform: translate(-130%, -50%) rotate(-15deg); /* Rotate to create diagonal effect */
    width: 30%; /* Adjust image size */
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%); /* Diagonal cropping */
    margin-top: 13%;
    
    overflow: scroll;
    
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  
    &::-webkit-scrollbar { 
      display: none; /* For WebKit browsers */
    }
  }
  
  .section-text {
    color: lightgray; /* Light gray text color */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    z-index: 1; /* Ensure the text is above the image */
    text-align: center;
    margin-left: 20%;
    
    overflow: scroll; /* Enables scrolling */
    
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  
    &::-webkit-scrollbar { 
      display: none; /* For WebKit browsers */
    }
  }